@tailwind base;
@tailwind components;
@tailwind utilities;



.light-mode {
    background-color: #ffffff;
    color: #000000;
  }
  
  .dark-mode {
    background-color: #333333;
    color: #ffffff;
  }